@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap');

@import './typo.scss';
@import './colors.scss';

body {
    background: $background;
    color: $foreground;
    font-family: 'Asul', sans-serif;
    margin: 0;
}

body {
    font-size: map-get($typoSizes, small);
}

@each $key, $value in $typoSizes {
    .typo-#{$key} {
        font-size: $value;
    } 
 }

 @each $key, $value in $colors {
    .col-#{$key} {
        color: $value;
    } 
 }