@import '../styles/colors.scss';
@import '../styles/typo.scss';

.summoner {
    display: flex;
    flex-direction: row;
    align-items: center;

    :not(:first-child) {
        margin-left: 8px;
    }
    padding: 16px;
    box-sizing: border-box;
    border: 2px solid rgba($gray, 0.7);
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80vh;
}

.level {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid $green;
    box-sizing: border-box;
    font-size: map-get($typoSizes, medium);
    width: 48px;
    height: 48px;
}